<% include header.ejs %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          <h2>Update User Account <small>App Administration</small></h2>
          <div class="clearfix"></div>

        </div>
          <div class="x_content">
            <form action="/listuser/<%= users._id %>" method="POST" class="">

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">First Name :</label>
              <input type="text" name="firstName" placeholder="First Name" required="required" class="form-control has-feedback-left" value="<%= users.firstName %>"/>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">Last Name :</label>
              <input type="text" name="lastName" placeholder="Last Name" required="required" class="form-control has-feedback-right" value="<%= users.lastName %>"/>
              <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
              <label for="">Username :</label>
              <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control has-feedback-left" value="<%= users.username %>"/>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
              <label for="">Password :</label>
              <input type="password" name="password" placeholder="Password" autofocus="autofocus" class="form-control has-feedback-right"/>
              <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
              </div>



              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">Email :</label>
              <input type="email" name="email" placeholder="Email" required="required" class="form-control has-feedback-left" value="<%= users.email %>"/>
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>



            <!--  <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button><span class="clearfix"></span>

-->


              <div class="clearfix"></div>
              <div class="divider-dashed"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="">Roles :</label>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gestion Stock :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="checkbox" class="" value="true" id="gs" name="gs">
                     </div>
               </div>
               <br>
               <div class="form-group">
                   <label class="control-label col-md-3 col-sm-3 col-xs-12">Gestion patients :
                   </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="checkbox" class="" value="true" id="gp" name="gp">
                    </div>
              </div>
              </div>





              </div>

              <div class="clearfix"></div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="">
                  <!--
                  <button type="submit" class="btn btn-primary">Cancel</button>
                -->
                  <input type="hidden" name="_method" value="PUT">
                  <button id="send" type="submit" class="btn btn-success">Mise à jour</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
<!-- this -->

<!-- end this -->


  </div>
</div>
<!-- /page content -->




<!-- /page content -->







<% include footer.ejs %>


<!-- jQuery Tags Input -->
<script>
  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }

  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }

  function onChangeTag(input, tag) {
    alert("Changed a tag: " + tag);
  }

  $(document).ready(function() {
    $('#tags_1').tagsInput({
      width: 'auto'
    });
  });

<!-- /jQuery Tags Input -->
