<% include header.ejs %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
     
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

          <div class="x_content">

            <form class="form-horizontal form-label-left input_mask" novalidate action="/editpat/<%= patients._id %>" method="post">

              <span class="section">Modification Patient</span>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                  <input id="name" class="form-control has-feedback-left" data-validate-length-range="6" data-validate-words="1" name="name" placeholder="Nom" required="required" type="text" value="<%= patients.patientnom %>">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                  <input id="prenom" class="form-control" data-validate-length-range="6" data-validate-words="1" name="prenom" placeholder="Prénom" required="required" type="text" value="<%= patients.patientprenom %> ">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>




              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                  <input type="email" id="email" name="email"  class="form-control has-feedback-left" placeholder="Email" value="<%= patients.email %>">
                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                  <input type="tel" id="telephone" name="phone"  data-validate-length-range="8,20" class="form-control" placeholder="Téléphone" value="<%= patients.telephone %>">
                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>



              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="ville" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="ville" placeholder="Ville" required="required" type="text" value="<%= patients.ville %>">
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="occupation" type="text" name="cin"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="CIN" value="<%= patients.cin %>">
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="occupation" type="text" name="dob"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Date de naissance" value="<%= patients.dob %>">
              </div>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 has-feedback-left" for="statu">Status <span class="required">*</span>
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <select id="statu" type="text" name="statu"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Statu familliale">
                    <option></option>
                    <option>Marié</option>
                    <option>Célibataire</option>
                  </select>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="poid" type="text" name="poid" data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Poid" value="<%= patients.poidinit %>">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="taille" type="text" name="taille"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Taille" value="<%= patients.tailleinit %>">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="bmi" type="text" name="bmi"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="BMI" value="<%= patients.bmiinit %>">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                  <input id="occupation" type="text" name="occupation"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Travail" value="<%= patients.occupation %>">
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group">
                <div class="control-group">
                        <label class="control-label ">Alérgies</label>
                        <div class="">
                          <input id="tags_1" type="text" class="tags form-control" value="<%= patients.alergies %>" name="alergies"/>
                          <!-- <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div> -->
                        </div>
                      </div>
              </div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 colproduits-xs-12">
                  <textarea id="textarea" required="required" name="textarea" class="form-control col-md-7 col-xs-12" placeholder="Commentaire" value=""><%= patients.textarea %></textarea>
                </div>
              </div>


              <!--Questionnaire-->
                <div class="divider-dashed"></div>
                <!--Question 1-->
                            <div class="row">
                              <div class="col-md-4"><label for="">Est ce vous avez déjà suivi un régime ? </label></div>
                              <div class="col-md-4" align="center">
                                <div class="radio">
                                      <label>
                                          <input type="radio" class="flat" <%= (patients.question1 == 'Oui')?'Checked':'' %> value="Oui" id="question1" name="question1"> Oui
                                      </label>
                                      <label>
                                         <input type="radio" class="flat" <%= (patients.question1 == 'Non')?'Checked':'' %> value="Non" id="question1" name="question1"> Non
                                      </label>


                                </div>
                              </div>
                              <div class="col-md-4"><label class="pull-right">هل سبق لك ان اتبعت حمية من قبل ؟</label></div>
                            </div>


                            <div class="divider-dashed"></div>
              <!--Question 2-->


              <div class="row">
                <div class="col-md-4"><label for="">Est ce vous avez déjà utilisé des produits amincissants ?</label></div>
                <div class="col-md-4" align="center">
                  <div class="radio">
                        <label>
                            <input type="radio" class="flat" <%= (patients.question2 == 'Oui')?'Checked':'' %> value="Oui" id="question2" name="question2"> Oui
                        </label>
                        <label>
                           <input type="radio" class="flat" <%= (patients.question2 == 'Non')?'Checked':'' %> value="Non" id="question2" name="question2"> Non
                        </label>
                  </div>
                </div>
                <div class="col-md-4"> <label class="pull-right">هل سبق لك ان استعملت منتوجات للحمية ؟</label></div>
              </div>

              <div class="divider-dashed"></div>
              <!--Question 3-->
              <div class="row">
                <div class="col-md-4"> <label for="">Comment vous avez connu notre centre Cambridge ?</label></div>
                <div class="col-md-4" align="center">
                  <div class="radio">
                        <label>
                            <input type="radio" class="flat" <%= (patients.question3 == 'Amis ou Famille')?'Checked':'' %> value="Amis ou Famille" id="question3" name="question3"> Amis ou Famille
                        </label>
                        <label>
                           <input type="radio" class="flat" <%= (patients.question3 == 'Exhibition')?'Checked':'' %> value="Exhibition" id="question3" name="question3"> Exhibition
                        </label>
                        <label>
                           <input type="radio" class="flat" <%= (patients.question3 == 'Internet')?'Checked':'' %> value="Internet" id="question3" name="question3"> Internet
                        </label>
                        <label>
                           <input type="radio" class="flat" <%= (patients.question3 == 'Publicité')?'Checked':'' %> value="Publicité" id="question3" name="question3"> Publicité
                        </label>
                  </div>
                </div>
                <div class="col-md-4">  <label class="pull-right">كيف تعرفت على مركزنا ؟</label></div>
              </div>
              <div class="divider-dashed"></div>
              <!--Fin Questionnaire-->


              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="">
                  <!--
                  <button type="submit" class="btn btn-primary">Cancel</button>
                -->
                  <input type="hidden" name="_method" value="PUT">
                  <button id="send" type="submit" class="btn btn-success">Mise à jour</button>
                  <button id="retour" type="button" class="btn btn-success" onclick="window.location.href='/listpat'">Liste des patients</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- this -->

<!-- end this -->


  </div>
</div>
<!-- /page content -->




<!-- /page content -->







<% include footer.ejs %>

<script type="text/javascript">

  function selectItemByValue(elmnt, value){

      for(var i=0; i < elmnt.options.length; i++)
      {
        if(elmnt.options[i].value == value)
          elmnt.selectedIndex = i;
      }
    }

    selectItemByValue(document.getElementById('statu'), '<%= patients.statu %>');

</script>
<!-- jQuery Tags Input -->
<script>
  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }

  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }

  function onChangeTag(input, tag) {
    alert("Changed a tag: " + tag);
  }

  $(document).ready(function() {
    $('#tags_1').tagsInput({
      width: 'auto'
    });
  });

<!-- /jQuery Tags Input -->
