<% include header.ejs %>

<!-- page content -->

<div class="right_col" role="main">
  <div class="">



    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <span class="section">Liste des I/O </span>

          <div class="x_content">

<div class="table-responsive">
<!--    <table class="table table-striped jambo_table bulk_action"> -->
  <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
    <thead>
      <tr class="headings">
        <th>
          <input type="checkbox" id="check-all" class="flat">
        </th>
        <th class="column-title">Dépôt Name</th>

        <th class="column-title">Product Code</th>

        <th class="column-title">Unité</th>

        <th class="column-title">Quantité init</th>

        <th class="column-title">Quantité movement</th>

        <th class="column-title">Date d'expiration</th>



        <th class="column-title no-link last"><span class="nobr">Action</span>
        </th>
        <th class="bulk-actions" colspan="7">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>

    <tbody>

      <% for (var i = 0; i < depots.length; i++) {%>
        <% for (var j = 0; j< depots[i].inout.length; j++) {%>

      <tr class="even pointer">
        <td class="a-center ">
          <input type="checkbox" class="flat" name="table_records">
        </td>
        <td class=" "><%= depots[i].depotname %></td>

        <td class=" "><%= depots[i].inout[j].prodcode %></td>

        <td class=" "><%= depots[i].inout[j].produnite %></td>

        <td class=" "><%= depots[i].inout[j].prodqteinit %></td>

        <td class=" "><%= depots[i].inout[j].prodqtemv %></td>

        <td class=" "><%= depots[i].inout[j].dateexp %></td>


        <td class=" last">
          <a class="" href="#" role="button"> Edit Prod </a>

        </td>
      </tr>
        <% } %>
      <% } %>

    </tbody>
  </table>
</div>

</div>
</div>
</div>
</div>
</div>
</div>


<!-- /page content -->
<!-- Handling cloture click -->


<script src="../build/js/Helper.js"></script>


<% include footer.ejs %>
