<% include header.ejs %>

<!-- page content -->
<script>
function ConvertToUnit(qte, unittype){

    if (unittype == "Boîte"){
      return Number(qte) * 21;
    }else if (unittype == "Caisse"){
      return Number(qte) * 6 * 21;
    }else if(unittype == "Unité"){
      return Number(qte);
    }
}
</script>

<div class="right_col" role="main">
  <div class="">



    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
    <h2>Liste des Entrées / Sorties<small>Gestion de Stock</small></h2>
      <div class="pull-right">
        <a class="btn btn-primary btn-md" href="/stockinbk" role="button"><i class="fa fa-plus"></i>   Nouvelle entrée</a>

      </div>



    <div class="clearfix"></div>
  </div>

          <div class="x_content">

<div class="table-responsive">
<!--    <table class="table table-striped jambo_table bulk_action"> -->
  <table id="datatable-checkbox" class="table table-striped table-bordered dataTable no-footer">
    <thead>
      <tr class="headings">

        <th class="column-title">Dépôt</th>
        <th class="column-title">Code produit</th>
        <th class="column-title">Désignation produit</th>
        <th class="column-title">Date Achat</th>
        <th class="column-title">Stock initial</th>
        <th class="column-title">Total Sortie(U)</th>
        <th class="column-title">Stock actuel(U)</th>
        <th class="column-title">Date expiration</th>
        <th class="column-title">Date Saisie</th>


        <th class="column-title no-link last"><span class="nobr">Action</span>
        </th>
        <th class="bulk-actions" colspan="7">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>
    <tbody>

      <% for (var i = 0; i < inout.length; i++) {%>

<tr class="even pointer">

  <td class=" "><%= inout[i].depotname %></td>
  <td class=" "><%= inout[i].prodcode %></td>
  <td class=" "><%= inout[i].prodname %></td>
  <td class=" "><%= inout[i].dateachat %></td>
  <td class=" " style="color:#0000FF"><%= inout[i].prodqteinit %> <%= inout[i].produnite %> <script> if ("<%= inout[i].produnite %>"!=="Unité") {
    document.write("(" + ConvertToUnit(<%= inout[i].prodqteinit %>, "<%= inout[i].produnite %>")+ " Unités)" );  }
    </script>
  </td>
  <% var totalqteout=0;  for(j=0; j < inout[i].out.length; j++){
    totalqteout=totalqteout + Number(inout[i].out[j].qteout);
  }%>
  <td class=" " align="center"><a style="color:#DF0101" href="/liststockout/<%= inout[i]._id %>"><%= totalqteout %></a></td>
<!--
    <script>
          document.write(ConvertToUnit(<%= inout[i].prodqteinit %>, "<%= inout[i].produnite %>") - Number("<%=inout[i].prodqtemv %>") + '  Unités');
    </script>
  </td>--><!--quantité totale sortie-->
  <td class=" " style="color:#04B431" align="center"><b><%= inout[i].prodqtemv %></td><!--quantité restante en stock-->
  <td class=" "><%= inout[i].dateexp %></td>
  <td class=" "><%= inout[i].datein %></td>

<td class=" last"  align='right' width='200px;'>

    <a class="btn btn-primary btn-xs" href="/editstockin/<%= inout[i]._id %>" role="button"><i class="fa fa-folder"></i> Edit </a>
    <a class="btn btn-danger btn-xs" onclick="if (confirm('Voulez vous vraiment supprimer la ligne sélectionnée ?')) supprimer('/listinout/<%= inout[i]._id%>');" href="/listinout"><i class="fa fa-trash-o"></i> Delete </a>
    <a class="btn btn-warning btn-xs" href="/stockout/<%= inout[i]._id %>" role="button"><i class="fa fa-minus"></i>   Sortie </a>
</td>
  <% } %>

    </tbody>
  </table>
</div>

</div>
</div>
</div>
</div>
</div>
</div>


<!-- /page content -->
<!-- Handling cloture click -->


<script src="../build/js/Helper.js"></script>






<% include footer.ejs %>
