<% include header.ejs %>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>-->

  <div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>
    </div>
    <div class="clearfix"></div>

<div class="x_panel">

          <div class="row"  >
                <div class="x_title">
                  <h2>Nouvelle Entrée en stock <small>Gestion de Stock</small></h2>
                  <div class="" align="right">
                    <label for="">Date d'arrivée : <%= dt %></label>
                  </div>
                </div>
            </div>

          <div class="x_content">
              <form class="form-horizontal form-label-left input_mask" novalidate action="/stockin100" method="POST">
                      <textarea id="message" type="hidden" required="required" class="form-control hidden" name="message" placeholder="Obj" required="required">
                      </textarea>

                      <div class="clearfix"></div>
                      <div class="divider-dashed"></div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                              <label for="">Dépôt : </label>
                                <select type="text" name="depot"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" required="required" placeholder="Statu familliale">
                                  <option>Choisir un Dépôt</option>
                                  <% for (var i = 0; i < depots.length; i++){%>
                                    <option value="<%= depots[i]._id %>"><%= depots[i].depotname %></option>
                                  <%}%>
                                </select>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                              <label for="">Date Achat : </label>
                              <input type="text" class="form-control has-feedback-right" id="dateachat" placeholder="Date" aria-describedby="inputSuccess2Status4" required="required" data-inputmask="'mask': '99/99/9999'" name="daterdv">
                              <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                              <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                              <!-- <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span> -->
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                              <label for="">Fournisseur : </label>
                                <select id="statu" type="text" name="fournisseur"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Fournisseur">
                                  <option>Cambridge Store</option>

                                </select>
                          </div>

                          <div class="col-md-3 col-sm-3 col-xs-12 item form-group has-feedback">
                              <label for="">Numéro Bon de commande : </label>
                              <input class="form-control" data-validate-length-range="6" data-validate-words="1" name="numbc" placeholder="Numéro bon de commande" required="required" type="text">
                              <!-- <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span> -->
                          </div>

                          <div class="col-md-3 col-sm-3 item form-group has-feedback">
                              <label for="">Numéro bon de livraison : </label>
                              <input class="form-control" data-validate-length-range="6"  name="numbl" placeholder="Numéro bon de livraison" required="required" type="text" >

                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="divider-dashed"></div>

                      <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-12 item form-group has-feedback">
                                  <label for="">Produit : </label>
                                    <select id="prodinfo" type="text" name="prodinfo"  data-validate-length-range="5,20" class="select2_single form-control" placeholder="Produit">
                                      <option></option>
                                      <% for (var i = 0; i < prods.length; i++) {%>
                                        <option value="<%= prods[i]._id + ' | ' + prods[i].prodcode + ' | ' + prods[i].prodname %>"><%= prods[i].prodcode + ' | ' + prods[i].prodname %> <span style="color:blue"><%= prods[i].extra? " | Extra Product" : ""%></span> </option>
                                      <%}%>

                                    </select>
                              </div>

                              <div class="col-md-1 col-sm-1 col-xs-12 item form-group">
                                  <label for="">Qté : </label>
                                  <input class="form-control" data-validate-length-range="6" data-validate-words="1" id="prodqte"  name="prodqte" placeholder="Quantité" type="Number">
                                  <!-- <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span> -->
                              </div>


                              <div class="col-md-1 col-sm-1  col-xs-12 item form-group has-feedback" style="padding:0 0 0 0;">
                                  <label for="">Unité : </label>
                                  <select id="unitegroupe" type="text" name="unitegroupe"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Unité de mesure">
                                    <option>Unité</option>
                                    <option>Caisse</option>
                                    <option>Boîte</option>
                                  </select>
                                  <!-- <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span> -->
                              </div>
                              <div class="col-md-2 col-sm-2 item form-group has-feedback">
                                <label for="">Date Expiration : </label>
                                 <input type="text" class="form-control has-feedback-left" id="dateexp" placeholder="Date d'expiration" aria-describedby="inputSuccess2Status">
                                 <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                 <span id="inputSuccess2Status" class="sr-only">(success)</span>
                              </div>
                              <div class="col-md-2 col-sm-2 col-xs-12 item form-group">
                                <label for="">Prix Achat : </label>
                                <input class="form-control" data-validate-length-range="6" id="prixachat" name="prixachat" placeholder="Prix d'achat"  type="text" >
                              </div>
                              <div class="col-md-2 col-sm-2item form-group has-feedback">
                                <label for="">Prix Vente : </label>
                                <input class="form-control" data-validate-length-range="6" id="prixvente" name="prixvente" placeholder="Prix de vente" required="required" type="text" >
                              </div>

                      </div>

                      <div class="row">
                          <div class="col-md-12 col-sm-12 item form-group has-feedback" align="right">
                            <input type="button" class="btn btn-success add-row" value="Ajouter à la liste">
                            <button type="button" class="btn btn-success formattageobj">Formattage</button>
                          </div>
                      </div>


                      <div class="row">

                          <div class="col-md-12 col-sm-12 item form-group has-feedback">
                               <table class="table table-striped jambo_table bulk_action" id="bootstrap_git_demo">
                                 <thead>
                                   <tr>
                                     <th class="column-title hidden">id produit </th>
                                     <th class="column-title">Code produit </th>
                                     <th class="column-title">Désignation </th>
                                     <th class="column-title">Quantité </th>
                                     <th class="column-title">Unité </th>
                                     <th class="column-title">Date expiration </th>
                                     <th class="column-title">Prix achat </th>
                                     <th class="column-title">Prix vente</th>
                                     <th class="column-title no-link last"><span class="nobr">Action</span>
                                     </th>
                                     <th class="bulk-actions" colspan="7">
                                       <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                     </th>
                                   </tr>
                                 </thead>
                                 <tbody>

                                 </tbody>
                               </table>
                          </div>
                      </div>
                      <div class="row">
                      <!--  <button type="submit" class="btn btn-success">Enregistrer111</button>
                         <button id="send" type="button" class="btn btn-success">Enregistrer</button>
                         <button id="retour" type="button" class="btn btn-success" onclick="window.location.href='/listinout'">Liste Etat du stock</button>
                       -->
                      </div>
                        <button id="send" type="submit" class="btn btn-success">envoyer</button>
             </form>
          </div>



<% include footer.ejs %>



<script type="text/javascript">

    function myFunction() {
      var tab=[];
      var today = new Date();

         $('#bootstrap_git_demo tbody > tr').each(function() {

            tab.push({

              prodid: $(this).find(".prodid").html().trim(),
              prodcode: $(this).find(".prodcode").html().trim(),
              prodqteinit: $(this).find(".qtein").html(),
              prodqtemv:$(this).find(".qtein").html(),
              produnite: $(this).find(".unitegroupe").html(),
              dateexp:$(this).find(".dateexp").html(),
              prixachat:$(this).find(".prixachat").html(),
              prixvente:$(this).find(".prixvente").html(),
             });

            })


            $('#message').val(JSON.stringify(tab));
            alert("formatage OK!!");
    }

    $(document).ready(function(){
        $(".add-row").click(function(){
          if(document.getElementById("prodinfo").value == ""){
             alert("Veuillez sélectionner un produit!");
             return;
           }

           if(document.getElementById("prodqte").value == ""){
              alert("Veuillez saisir une quantité valide!");
              return;
            }

            if(document.getElementById("dateexp").value == ""){
               alert("Veuillez sélectionner une date d\'expiration valide!");
               return;
             }

            var prodid =$("#prodinfo").val().split("|")[0];
            var prodcode = $("#prodinfo").val().split("|")[1];
            var proddesignation = $("#prodinfo").val().split("|")[2];
            var qtein = $("#prodqte").val();
            var unitegroupe = $("#unitegroupe").val();
            var dateexpiration = $("#dateexp").val();
            var prixachat = $("#prixachat").val();
            var prixvente = $("#prixvente").val();

            var markup = "<tr><td class='prodid hidden'>" + prodid + "</td><td class='prodcode'>" + prodcode + "</td><td class='proddesign'>" + proddesignation + "</td><td class='qtein'>" + qtein + "</td><td class='unitegroupe'>" + unitegroupe + "</td><td class='dateexpiration'>" + dateexpiration + "</td><td class='prixachat'>" + prixachat + "</td><td class='prixvente'>" + prixvente + "</td><td class=' last' align='center'>  <button title='' type='button' class='btn btn-danger btn-xs remove show_tip' data-original-title='Remove from list'> <i class='fa fa-trash-o'></i> </button> </td></tr>";
            $("table tbody").append(markup);

            //vider les champs
            document.getElementById('prodqte').value = '';
        		document.getElementById('unitegroupe').selectedIndex = "0";
        		//document.getElementById('prodinfo') ='';
            document.getElementById('dateexp').value = '';
        		document.getElementById('prixachat').value = '';
        		document.getElementById('prixvente').value = '';
        });


        $(document).on('click', 'button.remove', function () {
             $(this).closest('tr').remove();
             return false;
         });


          $(document).on('click', 'button.formattageobj', function () {
            var tab=[];
            var today = new Date();

               $('#bootstrap_git_demo tbody > tr').each(function() {

                  tab.push({

                    prodid: $(this).find(".prodid").html().trim(),
                    prodcode: $(this).find(".prodcode").html().trim(),
                    prodqteinit: $(this).find(".qtein").html(),
                    prodqtemv:$(this).find(".qtein").html(),
                    produnite: $(this).find(".unitegroupe").html(),
                    dateexp:$(this).find(".dateexp").html(),
                    prixachat:$(this).find(".prixachat").html(),
                    prixvente:$(this).find(".prixvente").html(),
                   });

                  })


                  $('#message').val(JSON.stringify(tab));

              });
          });

</script>
 <!-- Include Date Range Picker -->
<script>
	$(document).ready(function(){
	//	var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		  $('#dateexp').datepicker({
			format: 'dd/mm/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})

    $('#dateachat').datepicker({
    format: 'dd/mm/yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
  })

	})
</script>
<!-- /bootstrap-daterangepicker -->
